.jumbo {
	
	padding: 5%;
	background-image: url("bg.jpg");
     background-repeat:no-repeat;
	 background-position:center; 
	 background-size:cover; 
	 padding:10px;
	height: 530px;
}

.jumbo_user {
	
	padding: 5%;
	background-image: url("bg.jpg");
     background-repeat:no-repeat;
	 background-position:center; 
	 background-size:cover; 
	 padding:10px;
	height: 530px;
}
.jumbo_login {
	
	padding: 5%;
	background-image: url("bg.jpg");
     background-repeat:no-repeat;
	 background-position:center; 
	 background-size:cover; 
	 padding:10px;
	height: auto;
}
.MT-10{
margin-top: -10%;
}

.color_white {
	background-color: white;
}
.col-sm-6-mod {
    width: 40%;
    margin: 0% 3% 0% 3%;
	box-shadow: 5px 10px #888888;
	border-radius: 2rem;
}

.btn-primary {
    color: #fff;
    background-color: #a9b30f;
    border-color: #a9b30f;
	   
}

.btn-lg {
    padding: 10px 30px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 2rem;
	margin: 1rem;

}
.a_color {
	color: #fff;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu');


.container{
    width: 94%;
    margin: auto;
}
footer {
    background: #7682cc;
    text-align: center;
    padding: 30px 0;
	clear: both;
}
footer .footer-box{
    width: 33.3333%;
    margin: auto;
}
footer .footer-box p{
    color: #fff;
    font-size: 18px;
}


.view_user {
	height: 400px;
}

.user_form_color{
	background-color: #97d87a;
	padding: 3%;
	text-align: center;
}

.wrapper {    
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control1 {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

.inputlogintext[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 8;
  border-bottom-right-radius: 8;
}

.inputloginpass[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}